// 颜色定义规范
$color-white: #fff;
$color-black: #000;
$color-shallowgray: #fafbfc;
$color-gray: #999;
$color-deepgray: #4d4545;
$color-green: #00CC33;
$color-blue: #409EFF;
$color-deepblue: #0066FF;
$color-red: #FF0033;
$color-active: #f298ae;
$color-origin: #F7BA2A;
$color-shallowgreend: #CCFFCC;
$color-gray-1: #f5f5f5;