.blog-content {
	position: absolute;
	right: 0;
	box-sizing: border-box;
	padding: 20px;
	width: 80%;
	background: #EBEBEB;
	overflow: auto;
}
@media only screen and (max-width: 992px) {
	.blog-content {
		width: 100%;
	}
	.switch-type {
		display: none;
	}
}
@media only screen and (min-width: 992px) {
	.blog-content {
		width: 80%;
		height: 100%;
	}
}
.blog-header {
	padding: 20px;
	margin-bottom: 10px;
	margin-top: -20px;
}
.breadcrumb {
	float: left;
}
.switch-type {
	float: right;
	cursor: pointer;
}