.box-card {
	margin-bottom: 10px;
}

.box-card-image {
	width: 60%;
}
@media only screen and (min-width: 992px) {
	.box-card-image {
		height: 250px;
	}
}

.box-card:hover {
	background: #EFF2F7;
}

.blog-title {
	margin-bottom: 10px;
}

.blog-title a {
	text-decoration: none;
	color: #000;
}

.blog-title span {
	font: 400 12px/22px Arial;
	color: #999;
	padding: 0 5px;
}

.blog-title .title-icon {
	margin-right: 5px;
}

.blog-start {
	cursor: pointer;
}

.blog-tags span {
	cursor: pointer;
}

.blog-summary p {
	text-align: left;
	text-indent: 2em;
	height: 4em;
	text-overflow: ellipsis;
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
}

.blog-summary button {
	float: right;
	margin-bottom: 20px;
}